.postitus {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border-radius: 10px;
    max-width: 17%;
    
}



.parem {
    text-align: right;
}

.vasak {
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 5px;
}

.pildike {
  max-width: 40px;
  max-height: 40px;
  vertical-align: top;
  float: left;
  border-radius: 10px;
  padding-left: 2px;
  padding-top: 2px;

}

.pildike2 {
    max-width: 95%;
    margin: auto;
    justify-content: center;
    border-radius: 10px;
    padding-left: 6px;
}

.picture {
    max-width: 40px;
  max-height: 40px;
  vertical-align: top;
  float: right;
  border-radius: 10px;
  padding-left: 2px;
  padding-top: 2px;
}

.topnav {
    background-color: lightgray;
    height: 5%;
    border-radius:10px;
    padding: 10px;
}



.topnav a {
    padding-right: 30px;
    font-size: 17px;
}

.topnav a:hover {
  background-color: gray;
  font-size: 18px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
}

footer > p {
    color: white;
    text-align: center;
}